[submodule "D11__experiencia-e-projeto/oficina/design-system-source"]
	path = D11__experiencia-e-projeto/oficina/design-system-source
	url = https://github.com/Sas-Executar/Desyng-System-ecossitema..git
	branch = claude/design-handoff-specs-ulc1r1
